.Helpcenter .Helpcenterp {
  font-size: var(--font-medium) !important;
  font-weight: 300 !important;
  color: var(--auth-color);
}

.Helpcenter .search-bar {
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  max-width: 550px;
  height: 55px;
  background-color: #ffffff;
  margin: 0 auto;
}
.Helpcenter .search-bar input {
  border: none;
  outline: none;
  flex: 1;
  padding: 10px;
  font-size: 16px;
  background-color: #ffffff;
  color: var(--auth-color);
  text-align: right;
  border-radius: 5px;
}
.Helpcenter .search-bar input::placeholder {
  font-size: 13px !important;
  font-weight: 300 !important;
}

.Helpcenter .search-button {
  border: none;
  background: transparent;
  cursor: pointer;
  color: #666;
  font-size: 23px;
  padding: 20px;
}

.Helpcenter .Helpcenterpsearch {
  background-color: var(--primary-color);
  margin-top: 17px;
  padding: 25px 30px;
  font-size: 15px;
  font-weight: 400;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
