/* General Styles */
.registertajwal {
  width: 100%;
  max-width: 500px; /* Limit max-width for large screens */
  margin: 0 auto; /* Center the container */
}
.registertajwal .imageregister {
  width: 260px !important;
  height: 213px !important;
}
.registertajwal .phone-input-field {
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
  background-color: #f9f9f9 !important;
  border-radius: 3px !important;
}
.registertajwal input:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 transparent !important;
}
.registertajwal input {
  background-color: #f9f9f9 !important;
  border: none !important;
  border-radius: 5px !important;
  padding: 15px 20px !important;
}
.registertajwal input::placeholder {
  font-size: 12px !important;
}
.registertajwal button.follow {
  background-color: var(--primary-color) !important;
  padding: 10px 100px; /* Adjust button padding */
  color: #f1f3f6;
  font-size: 13px;
  font-weight: 700;
  border-radius: 5px;
  border: none;
}
.registertajwal .p_register p {
  color: var(--auth-color) !important;
  font-size: 12px !important;
  font-weight: 400 !important;
}

/* Responsive Adjustments */
@media screen and (max-width: 992px) {
  .registertajwal {
    padding: 0 15px;
  }
  .registertajwal button.follow {
    padding: 10px 100px !important;
  }
}

@media screen and (max-width: 576px) {
  .registertajwal button.follow {
    font-size: 12px;
    padding: 10px 100px !important;
  }
  .registertajwal .p_register p {
    font-size: 11px;
  }
 
}
