.countryheader {
  background-color: #f9f9f9;
  padding: 20px 0;
}
.countryheader .country-list {
  position: absolute;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
  z-index: 2;
}
.country-list .active1 {
  background-color: white !important;
  color: #336279 !important; /* لون أخضر عند التفعيل */
}
.country-list .country-list-links {
  cursor: pointer;
  border-radius: 5px;
  padding: 15px 80px;
  margin: 0 20px;
  font-size: 17px;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.countryshow {
  background-color: #575050;
  padding: 15px 100px !important;
  font-size: 17px;
  font-weight: 200;
  border-radius: 10px;
  color: #ffffff;
  transition: background-color 0.3s ease;
}
.countryshow:hover {
  background-color: #285060;
}
.countryname {
  color: #626e7b;
  font-size: 20px;
  font-weight: 300;
}
/* الشاشات الكبيرة */
@media (min-width: 992px) {
  .countryname {
    font-size: 18px;
  }
}
@media (min-width: 767px) and (max-width: 1200px) {
  .countryheader .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .countryheader .col-md-3 {
    flex: 0 0 50%; /* عرض العنصر يكون 50% من عرض الحاوية */
    max-width: 50%;
  }

  .countryheader .col-md-3.text-center {
    text-align: center;
  }
}
/* التابلت */
@media (max-width: 991px) and (min-width: 768px) {
  .countryname {
    font-size: 16px;
  }

  .country-list .country-list-links {
    padding: 12px 40px;
    font-size: 14px;
  }
}

/* الموبايل */
@media (max-width: 767px) {
  .countryheader .countryheader {
    padding: 15px;
  }

  .countryheader .country-listbegin {
    top: -40px;
  }

  .country-list .country-list-links {
    padding: 14px 25px;
    font-size: 12px;
    margin: 5px 10px;
  }

  .countryshow {
    font-size: 14px;
    padding: 8px 15px;
  }

  .countryheader .countryname {
    font-size: 14px;
    margin-left: 10px;
    margin-right: 8px !important;
  }
}

/* الشاشات الصغيرة جدًا (350px أو أقل) */
@media (max-width: 350px) {
  .country-list .country-list-links {
    padding: 8px 15px;
    font-size: 12px;
  }

  .countryshow {
    padding: 15px 50px !important;
    font-size: 12px;
  }

  .countryname {
    font-size: 12px;
  }

  .country-flag img {
    width: 50px;
    height: 30px;
  }
}
