.countryheader .countryname {
  color: var(--auth-color) !important ;
  font-size: var(--font-large) !important;
  font-weight: 300 !important;
}

.countryheader .countryshow {
  background-color: var(--secondary-color) !important;
  padding: 15px 100px !important;
  font-size: var(--font-medium) !important;
  font-weight: 300 !important;
  border-radius: 10px !important;
  color: #ffffff !important;
  transition: background-color 0.3s ease !important;
}

.countryheader .countryshow:hover {
  background-color: var(--primary-color) !important;
}
/* الموبايل */
@media (max-width: 767px) {
  .countryheader .countryshow {
    font-size: 14px !important;
    padding: 14px 80px !important;
  }

  .countryheader .countryname {
    font-size: 15px !important;
    margin-left: 10px !important;
    margin-right: 8px !important;
  }
}
