.offer {
  border-radius: 15px 15px 0 0; /* حواف دائرية من الأعلى فقط */
  overflow: hidden; /* للتأكد أن الصورة لا تخرج عن الحواف */
  background-color: #fff;
}

.offer img {
  display: block; /* إزالة الفراغات أسفل الصورة */
  width: 100%; /* جعل الصورة تغطي العرض بالكامل */
  border-radius: 15px 15px 0 0; /* نفس الحواف الدائرية للصورة */
}

/* header  */
.offers .btnoffer {
  border: none;
  font-size: 12px !important;
  font-weight: 400;
  color: #fff;
  background-color: var(--primary-color);
  padding: 10px 50px;
  border-radius: 3px;
}
@media (max-width: 800px) {
.offerifrem{
  width: 100% !important;
  height: 100vh !important;
}
}
