:root {
  --primary-color: #336279;
  --secondary-color: #333;
  --hover-bg-color: #f8f9fa;
  --hover-text-color: var(--primary-color);
  --active-text-color: red;
  --shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  --border-radius: 10px;
  --font-small: 12px;
  --font-medium: 14px;
  --font-large: 20px;
}

.resgister {
  background-color: var(--primary-color) !important;
  padding: 6px 30px !important;
  border-radius: var(--border-radius);
}

li a.nav-link {
  font-size: var(--font-large) !important;
  font-weight: 300 !important;
}

.dropdown.dropacount {
  margin-left: 200px !important;
}

.dropdown-menu {
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
}

.nav-link.dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-item {
  font-size: var(--font-small) !important;
  padding: 8px;
  color: var(--secondary-color);
  transition: color 0.3s, background-color 0.3s;
}

.dropdown-item:hover {
  background-color: var(--hover-bg-color);
  color: var(--hover-text-color);
}

.dropdown-item:active,
.dropdown-item.active {
  background-color: transparent !important;
  color: var(--active-text-color) !important;
  font-weight: bold;
}

.nav-link .fa-chevron-down {
  font-size: 12px;
  color: #fff;
  transition: transform 0.2s ease-in-out;
}

.nav-item.dropdown.show .nav-link .fa-chevron-down {
  transform: rotate(180deg);
}

@media (max-width: 992px) {
  .offcanvas {
    width: 260px !important;
  }

  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .offnecmedia {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
  }

  .offnecmedia .dropdown-menu {
    position: absolute !important;
    top: 100%;
    left: 0;
    transform: translateY(10px);
    width: auto;
    text-align: center;
    margin-top: 10px;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    z-index: 1050;
  }

  .dropdown-menu .btnlist {
    font-size: var(--font-medium) !important;
  }

  .resgister {
    font-size: var(--font-medium) !important;
    padding: 6px 20px !important;
  }

  .offcanvas .nav-item a,
  .nav-item button,
  .nav-item .iconoffcen {
    color: black !important;
  }

  .offcanvas .nav-item a {
    font-size: 17px !important;
  }

  .offcanvas .nav-item a:active {
    color: var(--primary-color) !important;
  }
}

@media (max-width: 768px) {
  .dropdown-menu {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .resgister {
    width: fit-content !important;
    font-size: var(--font-medium) !important;
  }
}

@media screen and (max-width: 600px) {
  .navbar-brand .logo {
    width: 100px !important;
    height: 50px !important;
  }

  nav.navbar {
    margin: 10px 2px !important;
    padding: 10px 2px !important;
  }
}
