.authlinks .authlinkspara {
  font-size: var(--font-small) !important;
  font-weight: 300 !important;
  color: #b6bcc3 !important;
}
.authlinks .authlinksicon {
  width: 46px !important;
  height: 46px !important;
}
