.authlinks .authlinkspara {
    font-size: 13px !important;
    font-weight: 300 !important;
    color: #B6BCC3 !important;
}
.authlinks .authlinksicon {
    width: 46px !important;
    height: 46px !important;
}