:root {
  --background: #f9f9f9;
  --foreground: #171717;
  --primary-color: #336279; /* اللون الرئيسي */
  --secondary-color: #575050; /* اللون الفرعي */
  --auth-color: #626e7b; /* اللون الفرعي */
  --font-largeNavbar: 20px;
  --font-large: 18px;
  --font-medium: 17px;
  --font-small: 14px;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background) !important;
}
body {
  background-color: var(--background) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
.active {
  color: var(--primary-color) !important;
  font-weight: 500 !important;
}
.small-swal-logout {
  margin-top: 20px !important;
  width: 400px !important; /* تقليل العرض */
  height: 220px !important; /* ضبط الارتفاع تلقائياً */
  font-size: 10px !important; /* تصغير الخط */
}
.small-title-logout {
  font-size: 12px !important; /* تصغير حجم الخط */
  font-weight: normal !important; /* تقليل سمك الخط إذا كان سميكًا */
}
.custom-confirm-button-logout {
  background-color: var(--primary-color) !important; /* تغيير لون الخلفية */
  color: white !important; /* تغيير لون النص */
  font-size: 14px !important; /* تصغير الخط */
  padding: 8px 20px !important; /* تعديل الحجم */
  border-radius: 8px !important; /* تعديل الحواف */
  border: none !important; /* إزالة الحدود */
}
.country-listbeginall {
  position: absolute;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
  z-index: 2;
}
.country-listbeginall .country-list-links {
  cursor: pointer;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  padding: 15px 80px !important;
  margin: 0 20px !important;
  font-size: var(--font-medium) !important;
  font-weight: 500 !important;
  transition: background-color 0.3s ease, color 0.3s ease !important;
}
.country-listbeginall .country-list-links:hover {
  background-color: var(--background) !important;
  color: var(--primary-color) !important;
}
/* footer */
.footer {
  background-color: #d9dee44d;
  color: var(--secondary-color);
}
.footer .tajwalh {
  font-size: 12px !important;
  font-weight: 600;
}
.footer .tajwalp {
  font-size: 10px !important;
  font-weight: 300;
}
.allfooter {
  background-color: var(--auth-color);
}
.allfooter .tajwalall {
  font-size: 10px !important;
  font-weight: 300 !important;
}
.allfooter span {
  border-bottom: 1px solid white;
}
@media (min-width: 768px) and (max-width: 991px) {
  .country-listbeginall .country-list-links {
    padding: 14px 35px !important;
    font-size: var(--font-small);
  }
}
@media (max-width: 767px) {
  .country-listbeginall {
    top: -40px !important;
  }

  .country-listbeginall .country-list-links {
    padding: 8px 25px !important;
    font-size: 15px !important;
    margin: 5px 10px !important;
  }
  .imgnotfound {
    width: 90% !important;
  }
}

@media (max-width: 350px) {
  .country-listbeginall .country-list-links {
    padding: 8px 15px !important;
    font-size: 12px !important;
  }
}
