.login {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.login .imagelogin {
  width: 408px !important;
  height: 250px !important;
}
.login .phone-input-field {
  width: 100% !important;
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
  background-color: #f9f9f9 !important;
  border-radius: 5px !important;
  padding: 10px 12px !important;
}
.login input:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 transparent !important;
}
.login input {
  background-color: #f9f9f9 !important;
  border: none !important;
  border-radius: 5px !important;
  padding: 15px 20px !important;
}
.login input::placeholder {
  font-size: 12px !important;
}
.login .loginpass {
  color: var(--primary-color);
  font-size: 12px !important;
  font-weight: 400 !important;
  border-bottom: 1px solid var(--primary-color);
}
.login button.follow {
  background-color: var(--primary-btn) !important;
  padding: 13px 140px;
  color: #f1f3f6;
  font-size: 13px !important;
  font-weight: 700 !important;
  border-radius: 5px;
  border: none;
}
.login .p-login p {
  color: var(--auth-color) !important;
  font-size: 12px !important;
}
.login button.back {
  background-color: var(--auth-color) !important;
  padding: 13px 120px;
  color: #f1f3f6;
  font-size: 13px;
  font-weight: 700;
  border-radius: 5px;
  border: none;
}

/* Responsive Adjustments */
@media screen and (max-width: 992px) {
  .login {
    padding: 0 15px;
  }
}

@media screen and (max-width: 576px) {
  .login button.follow {
    font-size: 12px;
    padding: 10px 100px;
  }
  .login button.back {
    padding: 10px 80px;
  }
  .login .p-login p {
    font-size: 11px;
  }
}
