.Helpcenter .Helpcenterp {
  font-size: var(--font-medium) !important;
  font-weight: 300 !important;
  color: var(--auth-color);
}

.Helpcenter .Helpcentertajwalp {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: var(--auth-color);
  margin: 0px !important;
}
.Helpcenter .Helpcentertajwalp2 {
  font-size: 10px !important;
  font-weight: 300 !important;
  color: var(--auth-color);
}
.Helpcenter .Helpcenterpquestion {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: var(--primary-color) !important;
}
.Helpcenter .Helpcenterpspan {
  font-size: 12px !important;
  font-weight: 300 !important;
  color: var(--auth-color) !important;
}
.Helpcenter .Helpcenterphelp {
  font-size: var(--font-medium) !important;
  font-weight: 500 !important;
  color: var(--primary-color);
  margin: 0px !important;
}
.Helpcenter .Helpcenterphelp1 {
  font-size: 12px !important;
  font-weight: 500 !important;
  color: var(--auth-color);
  margin: 0px !important;
}
.Helpcenter .ContactUSph {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: var(--auth-color);
}
.Helpcenter .ContactUSp {
  font-size: 12px !important;
  font-weight: 400 !important;
  color: var(--auth-color);
}
