/* .footer {
  background-color: #d9dee44d;
  color: var(--secondary-color);
}
.footer .tajwalh {
  font-size: 12px !important;
  font-weight: 600;
}
.footer .tajwalp {
  font-size: 10px !important;
  font-weight: 300;
}
.allfooter {
  background-color: var(--auth-color);
}
.allfooter .tajwalall {
  font-size: 10px !important;
  font-weight: 300 !important;
}
.allfooter span {
  border-bottom: 1px solid white;
} */
