.ordersucess .ordersucessdetilas {
  font-size: 12px !important;
  font-weight: 400 !important;
  color: var(--auth-color);
}
.ordersucess .wayesim {
  font-size: 13px !important;
  font-weight: 700 !important;
  color: var(--auth-color) !important;
}
.ordersucess .wayesimp {
  font-size: 10px !important;
  font-weight: 300 !important;
  color: var(--auth-color) !important;
}
.ordersucess .wayslink {
  background-color: var(--primary-btn);
}
.ordersucess .wayslink .wayslinkp {
  font-size: 10px !important;
  font-weight: 400 !important;
}
.ordersucess .tajwalh {
  font-size: 12px !important;
  font-weight: 600 !important;
  color: var(--secondary-color);
}
