/* General Styles */
.registerotp {
  width: 100%;
  max-width: 500px; /* Limit max-width for large screens */
  margin: 0 auto; /* Center the container */
}

.registerotp input:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 transparent !important;
}
.registerotp input {
  background-color: #f9f9f9 !important;
  border: none !important;
  border-radius: 5px !important;
  padding: 15px 20px !important;
}
.registerotp input::placeholder {
  font-size: 12px !important;
}
.registerotp .btnsendback{
  color: var(--primary-color) !important;
  border: none !important;
  background-color: transparent;
  font-size: 12px !important;
  font-weight: 600 !important;
}
.registerotp button.follow {
  background-color: var(--primary-color) !important;
  padding: 10px 100px; /* Adjust button padding */
  color: #f1f3f6;
  font-size: 13px !important;
  font-weight: 700 !important;
  border-radius: 5px;
  border: none;
}
.registerotp button.back {
  background-color: #626E7B !important;
}
.registerotp .p_registerOtp p {
  color: var(--auth-color) !important;
  font-size: 12px !important;
  font-weight: 400 !important;
}
.registerotp .imgcover {
    width: 240px !important;
    height: 260px !important;
}

/* Responsive Adjustments */
@media screen and (max-width: 992px) {
  .registerotp {
    padding: 0 15px;
  }
  .registerotp button.follow {
    padding: 10px 50px;
  }
}

@media screen and (max-width: 576px) {
  .registerotp input {
    padding: 10px 12px !important;
  }
  .registerotp button.follow {
    font-size: 12px;
    padding: 10px 40px;
  }
  .registerotp .p_registerOtp p {
    font-size: 11px !important;
  }
  .registerotp img {
    max-width: 100%;
    height: auto;
  }
}
