.Simcarchoose {
  left: 50%;
  top: -43px;
  transform: translateX(-50%);
  z-index: 2;
  background-color: #ffffff;
  border: 1px solid #d9dee4; /* لون الحدود */
  border-bottom: none; /* إزالة الحد السفلي */
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
}
.Simcarchoose .Simcard-list-links {
  border: none !important;
  background-color: #f9f9f9;
  padding: 10px 80px !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  color: var(--auth-color);
}
.Simcarchoose .Simcard-list-links.active {
  background-color: #ffffff !important;
  color: var(--primary-btn) !important;
}
/* checkboxx */
.equal-width {
  width: 100%;
  max-width: 300px; /* يمكنك تعديلها حسب الحاجة */
}
.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-checkbox .checkmark {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 4px;
  position: relative;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark {
  background-color: #f9f9f9; /* اللون الذي تريده */
}

.custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 1px;
  width: 8px;
  height: 24px;
  border: solid var(--primary-color);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
  display: block;
}
.compatibility-check {
  border-radius: 8px; /* زوايا مستديرة */
}
.custom-checkbox p {
  font-size: 10px !important;
  font-weight: 300 !important;
  margin-right: 15px !important;
  margin-top: 5px;
}

@media (min-width: 526px) and (max-width: 995px) {
  .Simcarchoose {
    top: -44px;
  }
  .Simcarchoose .Simcard-list-links {
    padding: 10px 40px !important;
  }
}
@media (max-width: 526px) {
  .Simcarchoose .Simcard-list-links {
    padding: 10px 50px !important;
    white-space: nowrap; /* يمنع النص من النزول لسطر جديد */
  }
}
