.Simcarchoose {
  left: 50%;
  top: -43px;
  transform: translateX(-50%);
  z-index: 2;
  background-color: #ffffff;
  border: 1px solid #D9DEE4; /* لون الحدود */
  border-bottom: none; /* إزالة الحد السفلي */
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
}
.Simcarchoose .Simcard-list-links {
  border: none !important;
  background-color: #f9f9f9;
  padding: 10px 80px !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  color: var(--auth-color);
}
.Simcarchoose .Simcard-list-links.active {
  background-color: #ffffff !important;
  color: var(--primary-btn) !important;
}

@media (min-width: 526px) and (max-width: 995px) {
  .Simcarchoose {
    top: -44px;
  }
  .Simcarchoose .Simcard-list-links {
    padding: 10px 40px !important;
  }
}
@media (max-width: 526px) {
  .Simcarchoose .Simcard-list-links {
    padding: 10px 50px !important;
    white-space: nowrap; /* يمنع النص من النزول لسطر جديد */
  }
}
