.countryheader .countryname {
  color: var(--auth-color) !important;
  font-size: var(--font-large) !important;
  font-weight: 300 !important;
}

/* الموبايل */
@media (max-width: 767px) {
  .countryheader .country-listbegin {
    top: -40px;
  }

  .countryheader .countryname {
    font-size: 15px !important;
    margin-left: 10px !important;
    margin-right: 8px !important;
  }
}

/* الشاشات الصغيرة جدًا (350px أو أقل) */
@media (max-width: 350px) {
  .countryheader .countryname {
    font-size: 12px;
  }
}
