.countryheader .countryname {
  color: var(--auth-color) !important;
  font-size: var(--font-large) !important;
  font-weight: 300 !important;
}

/* الموبايل */
@media (max-width: 850px) {
  .countryheader .country-listbegin {
    top: -40px;
  }

  .countryheader .countryname {
    font-size: 17px !important;
   
  }
}
