.PreviousEsims .esimflag {
  top: -17px !important;
}
.PreviousEsims .ordername {
  font-size: 12px !important;
  font-weight: 300 !important;
  color: #000000;
}
.PreviousEsims .ordername span {
  font-size: 12px !important;
  font-weight: 300 !important;
  color: var(--auth-color);
}
